<!-- 
    File  name: footer.ejs
    Author's  name: Ankit Patel - 300765558
    Web  site  name: https://ankit-portfolio.herokuapp.com
    File  description: 


-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <hr />
    <div class="row">
        <div class="large-6 small-6 medium-6 columns">
            <dl class="sub-nav">
                <dd><a href="#">Home</a></dd>
                <dd><a href="#">Term of Use</a></dd>
                <dd><a href="#">Privacy Policy</a></dd>
                <dd><a href="#">Site Map</a></dd>
            </dl>
        </div>
        <div class="large-6 small-6 medium-6 columns">
            <h6>&copy;Copyright Ankit Patel - 300765558 - Winter 2015</h6>
        </div>
    </div>

</body>
</html>
