<!-- 
    File  name: header.ejs
    Author's  name: Ankit Patel - 300765558
    Web  site  name: https://ankit-portfolio.herokuapp.com
    File  description: 


-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My HomePage</title>
    <!-- CSS Section -->
    <link href="stylesheets/normalize.css" rel="stylesheet" />
    <link href="stylesheets/foundation.min.css" rel="stylesheet" />
    <link href="stylesheets/app.css" rel="stylesheet" />

</head>
<body onload="init();">
    <br />
    <div class="row" id="title">
        <div class="large-3 medium-5 small-4 columns" >
            <img src="images/logo.jpg" height="125" alt="" />
        </div>
        <div class="hide-for-small">
            <br />
            <br />
            <br />
        </div>
        <div class="large-9 medium-7 small-8 columns">
            <h3>Welcome To My Personal Website</h3>
        </div>
    </div>
    <br />
    <center>
        <div class="row icon-bar six-up" role="navigation" id="nav_bar" float="center">
            <a class="item large-2 medium-2 hide-for-small columns" href="/" tabindex="0" aria-labelledby="label1">
                <img src="images/home.jpg" alt="" />
                <label>Home</label>
            </a>
            <a class="item large-2 medium-2 small-3 columns" href="projects" tabindex="0" aria-labelledby="label2">
                <img src="images/projects.png" alt="" />
                <label>Projects</label>
            </a>

            <a class="item large-2 medium-2 small-3 columns" href="services" tabindex="0" aria-labelledby="label3">
                <img src="images/service.png" alt="" />
                <label>Services</label>
            </a>

            <a class="item large-2 medium-2 small-3 columns" href="about" tabindex="0" aria-labelledby="label4">
                <img src="images/about.png" alt="" />
                <label>About Me</label>
            </a>
            <a class="item large-2 medium-2 small-3 columns" href="contact" tabindex="0" aria-labelledby="label5">
                <img src="images/contact.png" alt="" />
                <label>Contact Me</label>
            </a>
            <a class="item large-2 medium-2  hide-for-small columns" href="https://github.com/ankitpatel710" target="_blank" tabindex="0" aria-labelledby="label6">
                <img src="images/github.jpg" alt="" />
                <label>Git Hub</label>
            </a>
            
        </div>
    </center>
        <!-- JavaScript Section -->
    
        <script src="Scripts/lib/jquery.js"></script>
     <script src="Scripts/lib/foundation.min.js"></script>
     <script>$(document).foundation();</script>
     <script src="Scripts/lib/angular.min.js"></script>
     <script src="Scripts/app.js" type="text/javascript"></script>
</body>
</html>
