body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: #005999;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #005999;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#005999;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #005999;
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #005999;
}
h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #005999;
}
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #005999;
}